{
  "extends": [
    "react-app",
    "next/core-web-vitals",
    "plugin:@next/next/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "@next/next/no-html-link-for-pages": ["error", "pages"]
  }
}
